<div class="pagina-santo">
    <% if (post.foto) { %>
        <img src="<%= post.foto.replace('/public', '') %>" alt="<%= post.titulo %>">
    <% } %>
    <h1><%= post.titulo %></h1>
    <p><%= post.descricao %></p>

    <p><%= post.biografia %></p>

    <div class="infos">
        <p><strong>Data de Nascimento:</strong> <%= post.data_nascimento %></p>
        <p><strong>Data de Falecimento:</strong> <%= post.data_falecimento %></p>
        <p><strong>Dia Litúrgico:</strong> <%= post.dia_liturgico %></p>
    </div>
</div>